POSTGRES_USER=dt
POSTGRES_PASSWORD=dt
POSTGRES_DB=digital_twin
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_TELEMETRY=dt.telemetry
KAFKA_TOPIC_CONTROL=dt.control
KAFKA_TOPIC_DLQ=dt.telemetry.dlq
STREAM_ID=dc1
KAFKA_CONSUMER_GROUP=digital-twin-ingest
KAFKA_CLIENT_ID=dt-consumer-1
KAFKA_MAX_POLL_RECORDS=100
